body {
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
  
.login-box {
    max-width: 700px;
    float: none;
    margin: 150px auto;
}

.login-left {
    background: rgba(211,211,211,0.5);
    padding: 30px;
}

.login-right {
    background: white;
    padding: 30px;
}

.form-control {
    background-color: transparent !important;
}

